.my-team {
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 80vh;
}

.select-member {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-between;
    position: relative;
    left: 15px;
    margin-right: 0px;
}

.select-member button{
    border: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px; /* Add some space between buttons */
}

.select-member button:hover{
    width: 10em;
    height: 10em;
    border-radius: 10em;
}

img {
    width: 90%;
    height: 90%;
    object-fit: cover;
  }
  

.current-member {
    width: 63%;
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.current-member .name-type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-member .name-type .types img{
    top: 0px;
    width: 100%;
    height: 100%;
}

.current-member .img-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-member .img-stats .image{
    border-radius: 200px;
    width: 200px;
    height: 200px;
}



.current-member .img-stats .stats{
    width: 48%;
    height: 200px;
    border-radius: 10px;
}

.current-member .img-stats .stats td{
    padding-right: 15px;
}

.current-member .skills table{
    width: 100%;
}

.current-member .input-group .types{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding: 0px;
}

.current-member .input-group{
    display: flex;
    flex-direction: row;
}

.current-member .input-group .btn-type img{
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.input-group input[type="text"] {
    flex: 0.5; /* Make the input fields expand to fill available space */
    margin-right: 10px; /* Add some spacing between the input fields */
    background-color: rgb(222, 255, 219);
    width: 10%;
    border: none;
    margin: 10px;
  }

  

.rightside{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    width: 40%;
    margin-right: 50px;
}

.enemy-team{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    border-bottom: 1px solid;
}

.enemy-team .enemy-member{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    
}

.enemy-team .enemy-member .type-star{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.type-star .cont{
    margin-top: 10px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.type-star input{
    margin-top: 15px;
}

.type-star .stal-box{
    display: flex;
    flex-direction: row;
}

.stal-box img{
    margin-top: 10px;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    align-self: center;
}

.enemy-team .enemy-member .image img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  background-color: rgb(5, 9, 6); /* Change the background color when selected */
  color: white; /* Change the text color when selected */
}

/* Add spacing between the radio buttons and checkboxes */
input[type="radio"] + label,
input[type="checkbox"] + label {
  margin-right: 10px; /* Adjust the margin as needed */
}

/* Style the container */
.special-effects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px; /* Add margin to separate from other content */
}

.weather,
.ground {
  width: 100%; /* Set the width of each container */
  margin-bottom: 20px;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
}
