/* Main */
.main-body {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

body {
  background-color: #f5f5dc ;
}

/* CSS for container */
.container {
  border: 1px solid #000000;
  width: 30%; /* Adjust as needed */
  height: 70%;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 5px;
  padding: 0;
}

h3 {
  text-align: center;
  margin: 0;
  padding: 0;
}
/* Attack */
.attack {
  display: flex;
  flex-direction: column;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  padding-inline-start: 40px;
}

ul li {
  margin: 5px;
}

ul span {
  height: 20px;
  width: 30px;
  vertical-align: middle;
}

ul span img {
  position: relative;
  top: 2px;
  width: 15px; /* Make the image fill the entire width of the span */
  height: 15px; /* Make the image fill the entire height of the span */
  object-fit: cover; /* Ensure the image maintains its aspect ratio */
}

ul span:hover {
  cursor: pointer;
}
.t-type {
  border-style: solid none;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0.25em;
  font-variant: small-caps;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-variant-caps: small-caps;
  font-variant-alternates: normal;
  font-variant-position: normal;
  font-size: 10pt;
  color: #f8f8f8;
  text-shadow: 0 1px 1px #807870;
}

.selected {
  position: relative;
  left: 100px;
  align-self: center;
  padding: 15px;
  font-size: 18px;
}

.selected img {
  top: 8px;
  width: 30px; /* Make the image fill the entire width of the span */
  height: 30px; /* Make the image fill the entire height of the span */
}
/* Effectiveness */
.effectiveness {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.effectiveness-content {
  position: relative;
  width: fit-content;
}

.number {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.material-symbols-outlined {
  color: rgb(123, 120, 120);
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
  font-size: 350px; /* Set the font size to match the container width */
  transform: scaleY(0.5);
}

/* d-choose for selected type in defense */

.d-choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.d-choose img {
  height: 50px;
  width: 50px;
  background-color: aqua;
}

.d-choose span {
  font-size: 30px;
  color: #000000;
}



/* Defense */

.defense {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.defense .defense-content select {
  margin: 30px;
  width: 100px;
  height: 100px;
}