.type-none {
  background-color: white;
}
.type-normal {
  background-color: #aab09f;
}
.type-fire {
  background-color: #ea7a3c;
}
.type-water {
  background-color: #539ae2;
}
.type-electric {
  background-color: #e5c531;
}
.type-grass {
  background-color: #71c558;
}
.type-ice {
  background-color: #70cbd4;
}
.type-fighting {
  background-color: #cb5f48;
}
.type-poison {
  background-color: #b468b7;
}
.type-ground {
  background-color: #cc9f4f;
}
.type-flying {
  background-color: #7da6de;
}
.type-psychic {
  background-color: #e5709b;
}
.type-bug {
  background-color: #94bc4a;
}
.type-rock {
  background-color: #b2a061;
}
.type-ghost {
  background-color: #846ab6;
}
.type-dragon {
  background-color: #6a7baf;
}
.type-dark {
  background-color: #736c75;
}
.type-steel {
  background-color: #89a1b0;
}
.type-fairy {
  background-color: #e397d1;
}
